<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>doge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B500DD22183EF4900083C300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D5D4BE17FC601700F052FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D5D4DF17FC601700F052FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
